/* TODO: Für Smartphones anpassen */

/* Hintergrundfarbe definieren */
body{
	background-color: #d8d8d8;
}

/* 'jour' im Logo weiß anzeigen */
.white {
	color: white;
}

/* 'nuit' im Logo schwarz anzeigen */
.black {
	color: black;
}

.red {
	color: red;
}

/* Hintergrundfarbe der Navbar */
#navbar {
	background-color: grey;
}

/* Designanpassungen für Links in der Navbar */
.nav_link {
	color: black;
	font-size: 1.5em;
	font-weight: 300;
}

/* Designanpassungen für den Benutzernamen in der Navbar */
.nav_username {
	color: black;
	font-size: 1em;
	font-weight: 300;
	font-style: italic;
}

.nav_icon {
	color: white;
}

.uk-logo {
	color: black;
	font-size: 2em;
}

#slogan {
	color: black;
}

#slogan {
	font-family: 'Indie Flower', cursive;
}

#erklaerung {
	font-family: 'EB Garamond', serif;
	font-size: 2em;
	color: black;
}

#journuit_big {
	font-size: 3.5em;
}

.shareIcon {
	width: 60px;
	height: 60px;
}

.rtbCard{
	cursor: pointer;
}

#rtbTitel {
	font-size: 2em;
}

.fa-big {
	font-size: 1.5em;
}

.titelbild {
	width:100%;
	height:100%;
}

/* Resizable-Kanten von Textareas entfernen */
textarea {
	resize: none;
}

/* Fix damit Locationpicker-Autocomplete im Modal angezeigt wird. */
.pac-container {
  z-index: 1040 !important;
}

/* Google-Map Formatierung */
#pickerMap{
	margin: 0 auto 0 auto;
	width: 500px;
	height: 400px;
}

/* Pointer anzeigen wenn über eine Eintragsbox gehovert wird */
.eintragBox{
	cursor: pointer;
}

.standortBox{
	cursor: pointer;
}

.newRtbLink{
	font-size: 1.5em;
}

.eintragHeader{
	font-size: 1.5em;
}

.eintragText{
	font-size: 1.2em;
	white-space: pre-line;
	margin: 0px;
}

.delete{
	color: red;
}

#landkarte{
	margin: 0 auto 0 auto;
	width: 900px;
	height: 700px;
}

.standortLinks{
	display: none;
}

/* Zentriert das Bullet von Listen */
ul{
	list-style-position: inside;
}

@media only screen and (min-width: 800px) {
	.eintrag {
		width: 50%;
		margin: auto;
	}

	#landkarte{
		max-width: 80vw;
	}
}

@media only screen and (max-width: 600px) {
	.eintrag {
		width: 100%;
	}

	.uk-navbar-item {
		padding: 5px;
	}

	.nav_username {
		display:none;
	}

	.journuit {
		display:none;
	}

	.uk-navbar-right img {
		width: 80%;
	}

	.nav_icon {
		padding: 10px !important;
	}

	.nav_link {
		font-size: 1em;
	}

	#dot {
		display:none;
	}

	#erklaerung {
		font-size: 1.3em;
	}

	#journuit_big {
		font-size: 2.5em;
	}

	#journuit_big img {
		height: auto;
	}

	.rtbCard{
		height: 40vh;
	}

	.eintragHeader {
		font-size: 1em;
	}

	.eintragHeader .uk-text-lead {
		font-size: 1em;
	}

	.eintragText {
		font-size: 1em;
	}

	#pickerMap, #landkarte{
		margin: 0;
		width: 95vw;
		height: 50vh;
	}

	#standorteModal #pickerMap{
		margin: 0;
		width: 80vw;
		height: 40vh;
	}

	.uk-input {
		width: 65vw;
	}

	#lat, #lon {
		width: 30vw;
	}

	.standortRechts{
		display: none;
	}

	.standortLinks{
		display: inline-block;
		clear: left;
	}
} 